<main class="page-<%= pageData.template %>">
    <section class="page-head">
        <div class="container container-md">
            <h1>取材・メディア掲載に<br class="sp">関するお問い合わせ</h1>
        </div>
    </section>
    <section class="section-contact-form">
        <div class="container container-md">
            <p class="txt-basic txt-center mbpc-35 pc">
                入力内容をご確認いただき、よろしければ画面下部の<span class="txt-highlight">「送信する」</span>を押してください。<br>
                入力内容を変更される場合は、<span class="txt-highlight">「戻る」</span>を押してください。
            </p>

            <p class="txt-basic mbsp-20 sp">
                入力内容をご確認いただき、よろしければ画面下部の<span class="txt-highlight">「送信する」</span>を押してください。<br>
                入力内容を変更される場合は、<span class="txt-highlight">「戻る」</span>を押してください。
            </p>
            <form action="" class="contact-form contact-form-confirm">
                <dl class="submitted-data mbpc-68 mbsp-15">
                    <dt>媒体名</dt>
                    <dd>月刊 IKOTTO</dd>
                    <dt>会社名・組織名</dt>
                    <dd>株式会社IKOTTO</dd>
                    <dt>部署名</dt>
                    <dd>IKOTTO 事業部</dd>
                    <dt>ご担当者名</dt>
                    <dd>育田太郎</dd>
                    <dt>代表者名</dt>
                    <dd>多田育子</dd>
                    <dt>メールアドレス</dt>
                    <dd>yamada@ikotto.co.jp</dd>
                    <dt>お電話番号</dt>
                    <dd>00-0000-0000</dd>
                    <dt>FAX番号</dt>
                    <dd>00-0000-0000</dd>
                    <dt>都道府県</dt>
                    <dd>北海道</dd>
                    <dt>住所</dt>
                    <dd>刈谷市相生町３丁目３富士ビルディング 5F</dd>
                    <dt>お問い合わせ内容</dt>
                    <dd>○月号の特集取材をしたい</dd>
                </dl>
                <div class="form-verification step-02">
                    <button type="submit" class="btn btn-pink">送信する</button>
                    <a href="<%= RELATIVE_PATH %>contact/index.html" role="button" class="btn btn-gray">戻る</a>
                </div>
            </form>
        </div>
    </section>
</main>