<main class="page-<%= pageData.template %>">
    <section class="page-head">
        <div class="container container-md">
            <h1>取材・メディア掲載に<br class="sp">関するお問い合わせ</h1>
        </div>
    </section>
    <section class="section-contact-form">
        <div class="container container-md">
            <p class="txt-lead txt-center mbpc-50 mbsp-13">
                <span class="txt-highlight">お問い合わせ有難うございました。<br>送信完了いたしました。</span>
            </p>
            <p class="txt-basic txt-center mbpc-60 mbsp-95">
                お問い合わせありがとうございます。<br>
                ご入力いただいたメールアドレスに受付完了メールを自動送付させていただきます。<br>
                お問い合わせ内容につきまして、弊社にて確認を行い、ご連絡差し上げます。<br>
                恐れ入りますが、今しばらくお待ちください。
            </p>
            <p class="txt-center">
                <a href="<%= RELATIVE_PATH %>index.html" class="btn btn-orange btn-lg">
                    トップページへ戻る
                </a>
            </p>
        </div>
    </section>
</main>