<main class="page-<%= pageData.template %>">
    <section class="page-heading">
        <div class="container">
            <h1><%= pageData.h1 %></h1>
            <% include common/_breadcrumbs.ejs %>
        </div>
    </section>
    <section class="guideline-job">
        <div class="container">
            <div class="section-ttl mbpc-40 mbsp-30">
                <h2>製造スタッフ</h2>
            </div>
            <table>
                <tbody>
                <tr>
                    <th>募集職種</th>
                    <td>製造業の製造スタッフ</td>
                </tr>
                <tr>
                    <th>仕事内容</th>
                    <td>
                        金属プレス、溶接組立等 <br>
                        自動車部品の検査業務 <br>
                        しっかりとした研修サポート体制がありますので、未経験の女性の方でも安心して業務に取り組めます
                    </td>
                </tr>
                <tr>
                    <th>雇用形態</th>
                    <td>正社員</td>
                </tr>
                <tr>
                    <th>給与</th>
                    <td>月給17万円以上（高卒以上）経験等により優遇　※賞与年2回、昇給年1回、技術認定制度</td>
                </tr>
                <tr>
                    <th>勤務地・アクセス</th>
                    <td>
                        常滑工場・有松工場 <br>
                        常滑市久米字池田174番地/名古屋市緑区野末町201番地
                    </td>
                </tr>
                <tr>
                    <th>勤務時間</th>
                    <td>8：10&#xFF5E;17：10　※実働8時間</td>
                </tr>
                <tr>
                    <th>休日休暇</th>
                    <td>週休2日制（当社カレンダーによる）年間113日　※夏季・冬期休暇・GWあり</td>
                </tr>
                <tr>
                    <th>福利厚生</th>
                    <td>各種保険制度、退職金制度、親睦会、同好会等</td>
                </tr>
                <tr>
                    <th>応募資格、求める人材</th>
                    <td>
                        未経験者歓迎 <br>
                        学歴不問 <br>
                        中途入社も歓迎。前職は飲食、ドライバー、営業、ホテル、コンビニ、介護、接客、販売、ｵﾍﾟﾚｰﾀなど様々です <br>
                        もちろん新卒（大卒）、専門卒、高卒、第二新卒もお待ちしております
                    </td>
                </tr>
                <tr>
                    <th>魅力</th>
                    <td>
                        定着率の高さが魅力の当社！職場は和気あいあい。居心地の良い環境です。<br>
                        社員食堂完備で、お弁当など手間ナシ <br>
                        無料駐車場完備、福利厚生もしっかり整えています
                    </td>
                </tr>
                <tr>
                    <th>応募方法</th>
                    <td>
                        応募フォーム、またはお電話にて応募ください <br>
                        応募確認後、担当者より連絡いたします。ハローワークにも出ておりますのでご覧下さい
                    </td>
                </tr>
                <tr>
                    <th>面接地</th>
                    <td>常滑工場</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>