<main class="main-content page-<%= pageData.template %>">
    <section class="page-head-banner page-<%= pageData.template %>">
        <div class="container container-md">
            <h2>プライバシーポリシー</h2>
            <p>PRIVACY POLICY</p>
            <img src="<%= RELATIVE_PATH %>images/icons/ttl-pattern-left@2x.png" alt="">
        </div>
    </section>
    <section class="privacy-policy-article">
        <div class="container container-sm">
            <h3>個人情報の管理</h3>
            <p>
                個人情報を取り扱うにあたっては、「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本プライバシーポリシーを遵守いたします。
            </p>
            <h3>個人情報の利用目的</h3>
            <p>
                当サイトでは、訪問者様からのお問い合わせ時に、お名前、e-mailアドレス、電話番号等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。
            </p>
            <h3>個人情報の第三者への開示</h3>
            <p>
                当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
            </p>
            <ul>
                <li>・本人のご了解がある場合</li>
                <li>・法令に基づき、開示が必要となる場合</li>
            </ul>
            <h3>アクセス解析ツールについて</h3>
            <p>
                当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
                このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。<br>
                このトラフィックデータは匿名で収集されており、個人を特定するものではありません。<br>
                Cookieを無効にし、収集を拒否することも出来ますので、お使いのブラウザの設定をご確認ください。
            </p>
            <h3>著作権について</h3>
            <p>
                当サイトに掲載されている情報についての著作権は放棄しておりません。<br>
                著作権法により認められている引用の範囲である場合を除き「内容、テキスト、画像等」の無断転載・使用を固く禁じます。
            </p>
            <h3>免責事項</h3>
            <p>
                当サイトに掲載されている情報に関しては、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。<br>
                また、当サイトのリンクから外部サイトへ移動する場合、これらの外部サイトのコンテンツに対して一切責任を負いません。<br>
                掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
            </p>
        </div>
    </section>
</main>