<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="site-map col-12">
                <div class="logo txt-center">
                    <a href="<%= RELATIVE_PATH %>index.html" title="IGAI"><img src="<%= RELATIVE_PATH %>images/photos/logo-footer@2x.png" alt="img"></a>
                </div>
                <div class="content">
                    <dl>
                        <dt>本社工場</dt>
                        <dd>〒476-0001 <span>愛知県東海市南柴田町ハの割138番13号</span></dd>
                        <dd>TEL 052-603-5591<span>FAX 052-603-5595</span></dd>
                    </dl>
                    <dl>
                        <dt>レベラー工場</dt>
                        <dd>〒476-0001 <span>愛知県東海市南柴田町イの割44番16号</span></dd>
                        <dd>TEL 052-601-0177<span>FAX 052-601-0193</span></dd>
                    </dl>
                </div>
            </div>
        </div>
        <a class="back-to-top js-totop" href="javascript:void(0)" style="">
            <img alt="to top" src="<%= RELATIVE_PATH %>images/photos/back-to-top.png">
        </a>
    </div>

</footer>