<aside class="c-sidebar">
    <a class="c-sidebar__logo" href="<%= RELATIVE_PATH %>index.html">
        <img alt="igai" src="<%= RELATIVE_PATH %>images/photos/logo@2x.png"/>
    </a>
    <div class="c-sidebar__main">
        <div class="c-sidebar__container">
            <ul class="c-sidebar__menu">
                <li>
                    <a href="/company/">企業情報</a>
                </li>
                <li>
                    <a href="/business/">事業内容</a>
                </li>
                <li class="defaul">
                    <a href="#">ONLYCAN</a>
                </li>
            </ul>
        </div>

    </div>
    <div class=" c-sidebar__main__footer">
        <div class="c-sidebar__contact">
            <div class="c-sidebar__contact__text txt-center">
                お問い合わせ <br>
                <span>
                        Contact
                    </span>
            </div>
            <a class="c-sidebar__contact__phone" href="tel:0526035591"><i class="fa fa-phone" aria-hidden="true"></i>052-603-5591</a>
            <p class="txt-right">受付／平日 9:00〜17:00</p>
            <a class="c-sidebar__contact__mail" href="/contact/"><i class="fa fa-envelope" aria-hidden="true"></i>メールフォームはこちら</a>
        </div>
        <div class="c-sidebar__footer">
            <p class="txt-center">2019 &#xA9;︎ igai.co.jp</p>
        </div>
    </div>
</aside>